.bottom {
  display: none;
}

@media (width<700px) {
  .bottom {
    z-index: 2100;
    background-color: rgb(20, 20, 20);
    height: 50px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .bottom-item {
      color: white;
      padding: 4px 12px 0px 12px;
      border-radius: 5px;
      &.activated {
        background-color: black;
      }
    }
  }
}
