.bottom {
  display: none;
}

@media (width<700px) {
  .bottom {
    z-index: 2100;
    background-color: black;
    height: 50px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .bottom-item {
      color: white;
    }
  }
}
