.product-list-container {
  display: flex;
  justify-content: center;
  background-color: #c7c8cc;
  .product-list {
    min-height: 80vh;
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
    background-color: #c7c8cc;
    row-gap: 30px;
    .empty-search-items {
      display: flex;
      font-weight: 600;
      gap: 10px;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
