.product-list-container {
  display: flex;
  justify-content: center;
  background-color: #c7c8cc;
  .product-list {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
    background-color: #c7c8cc;
    row-gap: 30px;
  }
}

::-webkit-scrollbar {
  display: none;
}
