.product-list-container {
  display: flex;
  width: 100%;
  background-color: #c7c8cc;
  .product-list {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 40px;
    width: 100%;
    justify-content: center;
  }
}

::-webkit-scrollbar {
  display: none;
}
