@import "../../../style-variables";
.homepage-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 183, 182, 255);
  background-color: #c7c8cc;
  width: 100%;

  z-index: 1;
  .mansionhomepage {
    flex: 1;
    padding: 0;
    text-transform: uppercase;
    font-weight: 100;
    width: 100%;

    .header-section {
      .container {
        display: flex;
        align-items: center;
        color: black;
        padding: 0 2%;
        justify-content: space-between;
        height: max-content;
        .logo {
          font-family: "Barrio", system-ui;
          letter-spacing: 1rem;
          font-weight: 800;
          font-size: 4rem;

          filter: drop-shadow(0px 10px 10px);
        }
        .search {
          width: 100%;
          z-index: 1;
          cursor: pointer;
          font-weight: 400;
          letter-spacing: 0.3rem;
          margin-right: auto;
          background-color: transparent;
          border: none;
          outline: none;
          padding: 5px;
          padding-bottom: 10px;
          caret-color: black;
          color: black;
          transition: all 0.1s ease-in;
          &::placeholder {
            text-decoration: none;
            color: black;
          }
          &:focus {
            border: none;
            &::placeholder {
              visibility: hidden;
            }
          }
        }
        .login-cart-buttons {
          display: flex;
          gap: 10px;
          z-index: 1;

          > .login {
            margin: 0 10px;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 700;
            color: rgb(77, 75, 75);
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
          > .cart {
            margin: 0 10px;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 700;
            color: rgb(77, 75, 75);
            cursor: pointer;
            .cart-button {
              @each $property, $value in $button {
                #{$property}: $value;
              }

              background-color: black;
              color: white;

              &:hover {
                color: black;
                background-color: transparent;
                border-color: black;
              }
            }
            &:hover {
              color: black;
            }
          }
        }
      }

      //   styling bit differently for searchbar when its clicked.
      .search-section {
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 100%;
        position: relative;

        > div {
          font-size: 0.8rem;
          font-weight: 500;
          margin-left: 5px;
        }
        .close-button {
          position: absolute;
          z-index: 1;
          right: 10px;
          top: 10px;
          cursor: pointer;
          font-size: 1.5rem;
        }
      }
      .product-container {
        .product-list {
          display: flex;
        }
      }
    }
  }
}
// media querries

.menu-btn {
  display: none;
  position: fixed;
  top: 0px;
}

@media (width<460px) {
  .homepage-wrapper {
    .mansionhomepage {
      > .header-section {
        height: 80px;
        .navbar {
          width: 100%;
          position: absolute;
          top: 0;
          transform: translate(-100%, -100%);
          transition: transform 0.3s ease;
          &.show {
            display: block;
            height: 100vh;
            transform: translate(0, 0);
            &::before {
              content: "Mansion";
              color: gray;
              font-weight: 500;
              font-size: 1.5rem;
            }
          }
          .navbar-items {
            width: 100%;
            background-color: white;
            z-index: 10;
            flex-direction: column;
            padding: 10px;
          }
        }
        > .container {
          height: 50%;
        }
      }
      > .product-container {
        margin-top: 100px;
      }
    }
  }

  .menu-btn {
    display: block;
    z-index: 100;
  }
}

@media (460px<=width<=605px) {
  .homepage-wrapper {
    .mansionhomepage {
      .loginform {
        margin-top: 12%;
        width: 60%;
      }
      > .header-section {
        height: max-content;

        > .container {
          height: max-content;
          > a.logo {
            > img {
              width: 80px;
              margin-left: -20px;
            }
          }
        }
      }
      > .product-container {
        margin-top: 130px;
      }
    }
  }
}
