@import "../../../style-variables";
.homepage-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 183, 182, 255);
  background-color: #c7c8cc;
  width: 100%;
  z-index: 1;
  .mansionhomepage {
    flex: 1;
    padding: 0;
    text-transform: uppercase;
    font-weight: 100;
    width: 100%;

    .header-section {
      .container {
        display: flex;
        align-items: center;
        color: black;
        padding: 0 2%;
        justify-content: space-between;
        height: max-content;
        .logo {
          display: flex;
          z-index: 3000;
          > div {
            transition: all 0.5s;
            &:hover {
              transform: rotateY(150deg);
            }
          }
          font-family: "Barrio", system-ui;
          letter-spacing: 1rem;
          font-weight: 800;
          font-size: 4rem;
          filter: drop-shadow(0px 10px 10px);
        }

        .login-cart-buttons {
          display: flex;
          gap: 10px;
          z-index: 1;
          .user-profile {
            font-size: 2.3rem;
            color: rgb(25, 25, 25);
            &:hover {
              color: black;
              cursor: pointer;
            }
          }
          > .login {
            margin: 0 10px;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 700;
            color: rgb(77, 75, 75);
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
          > .cart {
            margin: 0 10px;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 700;
            color: rgb(77, 75, 75);
            cursor: pointer;
            .cart-button {
              @each $property, $value in $button {
                #{$property}: $value;
              }

              background-color: black;
              color: white;

              &:hover {
                color: black;
                background-color: transparent;
                border-color: black;
              }
            }
            &:hover {
              color: black;
            }
          }
        }
      }

      .product-container {
        .product-list {
          display: flex;
        }
      }
    }
  }
}
// media querries
@media (width<700px) {
  .homepage-wrapper {
    .mansionhomepage {
      .container {
        flex-direction: column;
        margin-bottom: 10%;
        .login-cart-buttons#login-cart-buttons {
          display: none;
        }
      }
    }
  }
}
