.checkout {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(43, 42, 42, 0.5);
  display: flex;
  padding-top: 20%;
  justify-content: center;
  > .checkout-box {
    padding: 20px;
    height: 80%;
    width: 370px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    > .title {
      margin: 0 auto;
      font-weight: 500;
      font-size: 1.2rem;
    }
    > .close-btn {
      position: absolute;
      right: 10px;
      top: 0px;
      font-weight: 500;
      font-size: 1.3rem;
      cursor: pointer;
    }
    > .main-section {
      width: 100%;
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .form-input {
          height: 42px;
          width: 100%;
          background: #fff;
          color: #000;
          font-size: 14px;
          border-radius: 2px;
          padding: 10px;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }

        > .button-wrapper {
          width: 100%;
          bottom: 0px;
        }
      }
    }
  }
}

@media (width<400px) {
  .checkout {
    > .checkout-box {
      position: relative;
      width: 90vw;
      height: 65vh;
      // padding: 100px 10px 100px 10px;
    }
  }
}
