.navbar {
  z-index: 997;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  padding: 1% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: transparent;
  backdrop-filter: blur(8px);
  top: 0;
  .navbar-items {
    display: flex;
    gap: 40px;
    font-size: medium;
    > a {
      color: rgb(103, 102, 102);
      transition: all 0.5s;
    }
    > a:hover {
      color: black;
    }
    > a.active {
      color: black;
    }
  }
}

@media (width<570px) {
  .navbar {
    display: none;
  }
}
