.password-reset {
  width: 100%;
  display: flex;
  justify-content: center;
  .password-reset-form {
    display: flex;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 5px;
    > span.error {
      color: red;
    }
    h1 {
      text-align: center;
    }
    > * {
      width: 100%;
      padding: 5px 0px;
      background-color: transparent;
    }
    > label {
      cursor: pointer;
    }
    > input {
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      padding: 5px;
      color: black;
    }
    > button {
      margin-top: 15px;
      color: white;
      padding: 8px 0px;
      border: 1px solid black;
      background-color: black;
    }
  }
}

@media (width<400px) {
  .password-reset {
    .password-reset-form {
      margin-top: 15%;
      width: 90%;
    }
  }
}

@media (400px<=width<=600px) {
  .password-reset {
    .password-reset-form {
      margin-top: 12%;
      width: 60%;
    }
  }
}

@media (600px<=width<=800px) {
  .password-reset {
    .password-reset-form {
      margin-top: 8%;
      width: 50%;
    }
  }
}

@media (800px<width<=1200px) {
  .password-reset {
    .password-reset-form {
      margin-top: 5%;
      width: 40%;
    }
  }
}
