@import "../../mixin";
.products {
  @include main;
  display: flex;
  position: relative;

  .products-list {
    @include flex(column, none, none);
    background-color: rgb(230, 232, 233);
    padding: 17% 5%;

    a.active {
      color: red;
    }

    .product {
      @include heading;
      background-color: transparent;
      height: max-content;
      &:hover {
        color: red;
      }
    }
  }
  .newitem {
    position: absolute;
    @include square(3rem);
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    right: 3%;
    top: 2%;
    cursor: pointer;
    &:hover {
      background-color: orange;
    }
  }
}
