.mansionloginpage {
  width: 100%;
  display: flex;
  min-height: 70vh;
  justify-content: center;

  .loginform {
    > span.error {
      color: red;
    }
    h1 {
      text-align: center;
      font-weight: 750;
      font-size: 2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 5px;
    margin-top: 5%;
    > * {
      width: inherit;
      padding: 5px 0px;
      background-color: transparent;
    }
    > label {
      cursor: pointer;
      font-weight: 400;
    }
    > input {
      border: none;
      border-bottom: 1px solid black;
      outline: none;

      padding: 5px;
      color: black;
    }
    > button {
      margin-top: 15px;
      color: white;
      padding: 8px 0px;
      border: 1px solid black;
      background-color: black;
    }
    > a:first-of-type {
      font-size: 0.8rem;
      font-weight: 600;
    }
    > a:last-of-type {
      text-align: center;
      font-weight: 600;
    }
  }
}

@media (width<400px) {
  .mansionloginpage {
    .loginform {
      width: 90%;
    }
  }
}

@media (400px<=width<600px) {
  .mansionloginpage {
    .loginform {
      width: 80%;
    }
  }
}

@media (600px<=width<=800px) {
  .mansionloginpage {
    .loginform {
      margin-top: 10%;
      width: 70%;
    }
  }
}

@media (800px<width<=1200px) {
  .mansionloginpage {
    .loginform {
      margin-top: 5%;
      width: 70%;
    }
  }
}

@media (1200px<width) {
  .mansionloginpage {
    .loginform {
      margin-top: 5%;
      width: 55%;
    }
  }
}
