.product-card-wrapper {
  background-color: #c7c8cc;
  text-align: center;
  height: 400px;
  border-radius: 5px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 0 auto;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .product-img {
      transform: scale(1.2);
      transform: scaleX(-1);
    }
  }
  .product-card {
    display: flex;
    flex-direction: column;
    font-family: "Courier New", Courier, monospace;
    max-width: fit-content;
    justify-content: space-between;
    margin-bottom: 1%;
    .img-wrapper {
      overflow: hidden;
    }
    .product-img {
      transition: transform 0.5s;
      border-radius: 10px;
      width: 300px;
      height: 300px;
    }
    .product-name {
      font-weight: 400;
      font-family: "plus jakarta sans", sans-serif;
      padding: 5px 5px 0 5px;
      &:hover {
        color: rgb(0, 179, 255);
      }
    }
    .product-price {
      font-weight: 700;
      font-family: "plus jakarta sans", sans-serif;
      color: rgb(65, 65, 64);
      padding: 0px 5px 2px 5px;
    }
  }
}

@media (width<770px) {
  .product-card {
    > .product-img {
      height: 275px;
      width: 275px;
    }
  }
}
@media (400px<width<605px) {
  .product-card {
    > .product-img {
      height: 350px;
      width: 350px;
    }
  }
}

@media (870px<=width<1050px) {
  .product-card {
    > .product-img {
      height: 250px;
      width: 250px;
    }
  }
}

@media (1050px<=width<=1230px) {
  .product-card {
    > .product-img {
      height: 300px;
      width: 300px;
    }
  }
}
